.pagination {
  width: 100% !important;
  justify-content: center;
  gap: 1rem;
  height: 4rem;
  padding: 2rem;
  background-color: red;
  padding-left: var(--sidebar-width);

  background-color: var(--dark);

  button {
    border-radius: 100px;
    cursor: pointer;

    &.active {
      background-color: var(--accent);
    }
  }
}
