.tags-container {
  align-self: flex-start;
  flex-wrap: wrap;
  font-size: 0.6rem;
  padding: 1rem;
  min-height: 100vh;
  width: var(--sidebar-width) !important;
  background-color: var(--highlight);
  border: 1px solid var(--light);
  border-radius: 5px;
  position: absolute;
  top: calc(var(--header-height) + 2rem);
  right: calc(var(--header-height) / 2);

  .active {
    background-color: var(--accent);
  }

  h2 {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
    font-weight: 600;

    span {
      margin-right: 0.5rem;
    }
  }

  .tags {
    justify-content: flex-start;
    gap: 0.5rem;

    .navlink {
      opacity: 0.8;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;

      &:hover {
        opacity: 1;
      }
    }
  }
}
